.grid {
    border: solid 5px blue;
    width: 600px;
    height: 600px;
    background-color: black;
    display: flex; 
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
    border: solid 1px red;
}

.square {
    flex: 1;
    border: solid 1px red;
}