.container {
    display: flex;
    justify-content: space-evenly;
}

.grid {
    border: solid 5px #8d8888;
    width: 600px;
    height: 600px;
    background-color: #fff;
    display: flex; 
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
    border: solid 1px #8d8888;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}