.header {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 60px;
    margin-bottom: 40px;
    border: solid red 1px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.grid {
    border: solid 5px #8d8888;
    width: 600px;
    height: 600px;
    background-color: #fff;
    display: flex; 
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
    border: solid 1px #8d8888;
}

.buttons {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px;
    height: 580px;
    border: solid black 1px;
}

#newGridBtn, #colorSelect {
    width: 100px;
    height: 100px;
}